<div class="main-content">
    <div class="container-fluid">    

<div class="row mb-4">
    <div class="col-12">
        <h2>Bank Activities Overview</h2>    
    </div>
</div>

<div class=" card-group mb-3 ">
    <div class="card mx-2 ">
        <div class="dashboard-card">
            <div class="card-icon text-primary">
                <i class="fas fa-users"></i>
            </div>
            <div class="stat-value">2,845</div>
            <p class="stat-label">Total Customers</p>          
            
        </div>
    </div>
    
    <div class="card mx-2 ">
        <div class="dashboard-card">
            <div class="card-icon text-primary">
                <i class="fas fa-wallet"></i>
            </div>
            <div class="stat-value">2,845</div>
            <p class="stat-label">Daily Withdrawals</p>          
            
        </div>
    </div>
    
    <div class="card mx-2 ">
        <div class="dashboard-card">
            <div class="card-icon text-primary">
                <i class="fas fa-landmark"></i> 

            </div>
            <div class="stat-value">2,845</div>
            <p class="stat-label">Daily Deposits</p>          
            
        </div>
    </div>

    <div class="card mx-2 ">
        <div class="dashboard-card">
            <div class="card-icon text-primary">
                <i class="fas fa-money-bill-transfer"></i>
            </div>
            <div class="stat-value">2,845</div>
            <p class="stat-label">Amount Transacted </p>          
            
        </div>
    </div>
    
   
</div>
<div class=" card-group ">
    <div class="card mx-2 ">
      
    </div>
    
    <div class="card mx-2 ">
       
    </div>    
   
</div>
</div>

</div>
